.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 85%;
    padding: 20px 4px;
    border-bottom: 1px solid #1A1A1A;
    margin-bottom: 44px;
}

.navbar a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    padding: 12px 12px;
    background: #1A1A1A;
    border: 1px solid #272727;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.25s;
    font-size: 14px;
    font-weight: 600;
    font-family: inherit;
}

.navbar a:hover {
    background-color: #242424;
}

.navbar a:focus,
.navbar a:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media screen and (max-width: 45s0px){
    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
        width: 85%;
        padding: 20px 4px;
        border-bottom: 1px solid #1A1A1A;
        margin-bottom: 44px;
    }
}