body {
  margin: 0;
  align-items: center;
  min-height: 100vh;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0D0D0D;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.App{
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  margin: 0;
  align-items: center;
  height: 100vh;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 85%;
  padding: 20px 4px;
  border-top: 1px solid #1A1A1A;
  margin-top: auto;
}
.footer p{
  font-size: 14px;
  color: hsla(0, 0%, 55%, 1);
  width: 70%;
  text-align: left;
}
a{
  text-decoration: none;
  color: white;
  font-weight: 600;
}
.icons{
  display: flex;
  flex-direction: row;
  gap: 12px;
  height: 40%;
}
.icons div{
  border-left: 1px solid #383838;
  height: 20px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 85%;
  padding: 20px 4px;
  border-bottom: 1px solid #1A1A1A;
  margin-bottom: 44px;
}
.navbar a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  padding: 12px 12px;
  background: #1A1A1A;
  border: 1px solid #272727;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.25s;
  font-size: 14px;
  font-weight: 600;
  font-family: inherit;
}
.navbar a:hover {
  background-color: #242424;
}
.navbar a:focus,
.navbar a:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
@media screen and (max-width: 650px){
  .navbar {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      gap: 20px;
      width: 85%;
      padding: 20px 4px;
      border-bottom: 1px solid #1A1A1A;
      margin-bottom: 44px;
  }
}

.App{
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  margin: 0;
  align-items: center;
  height: 100vh;
}
h1 {
  font-size: 46px;
  line-height: 1.1;
}
.inputs button {
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 14px 24px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ffffff;
  color: #0D0D0D;
  cursor: pointer;
  transition: background-color 0.25s;
}
.inputs button:hover {
  background-color: #e7e7e7;
}
.inputs button:focus,
.inputs button:focus-visible {
  outline: none;
}

input{
  width: 100%;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 14px 12px;
  font-size: 1em;
  font-family: inherit;
  background-color: #1A1A1A;
  border-radius: 4px;
  cursor: pointer;
  transition: border-color 0.25s;
}
input:hover {
  border-color: #4c4c4c;
}
input:focus,
input:focus-visible {
  border: 1px solid transparent;
  outline: none;
  background-color: #222222;
}
.image {
  margin-top: 32px;
}
.image img{
  border-radius: 16px;
  border: 4px solid #424242;
}
.loading{
  border-radius: 20px;
  border: 4px solid #42424225;
}
.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  gap: 4px;
}
.header h1{
  color: linear-gradient(179.35deg, #FFFFFF 0.56%, rgba(255, 255, 255, 0) 368.86%);;
  margin: 0px;
}
.header p{
  max-width: 100%;
}
.inputs{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 8px;
  width: 60%;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  gap: 16px;
}
@media screen and (max-width: 560px) {
  .header{
    width: 88%;
  }
  .header h1 {
    font-size: 40px;
  }
  .header p {
    font-size: 14px;
  }
  .inputs{
    width: 75%;
    flex-wrap: wrap;
  }
  .inputs button{
    width: 100%;
  }
}